table{
    width: 100%;
    margin: 0 2% 0 1%;
    list-style: armenian;
}

td{
    border: 1px solid;
}

.card{
    width: 70rem;
    padding: 2%;
    margin-left: 2rem;
}

.btn {
    width: 80%;
    text-align: center;
  }

.btn2 {
    // float: right;
    width: 100%;
  }
  

